@media (max-width: 767px) {
  .content {
    padding-left: 16px;
    padding-right: 16px;
  }
  .line {
    display: none;
  }
  .current-price,
  .prev-price {
    font-size: 18px !important;
  }
  .header {
    height: 57px !important;
    box-sizing: border-box;
  }
  .footer {
    margin-top: 32px;
    padding-bottom: 0;
    .submit-btn {
      margin-bottom: 32px;
    }
  }
  .product-box {
    .product-sample {
      width: 382px;
    }
  }

  .top {
    height: 100vh;
    a.logo {
      font-size: 18px;
    }
    .header {
      position: relative;
      padding-top: 50px;
      padding-bottom: 0;
      .top__input {
        position: absolute;
        width: 20vw;
        display: none;
        opacity: 0;
      }
      .top__input.mobile__shown {
        display: block;
        // animation: searchUp 0.5s linear forwards;
      }
      // .top__input:not(.mobile__shown).mobile__hidden {
      //   display: block;
      //   animation: searchDown 0.5s linear forwards;
      // }
      .menu {
        display: flex;
        align-items: center;
        gap: $gap;
        .mobile__btn {
          display: block;
          width: 19px;
          height: 19px;
        }
        .btn__search {
          border: none;
          outline: none;
          background: transparent;
        }
        .btn__search path {
          transition: 0.15s ease-in;
        }
        .btn__search:active path {
          fill: $active;
          stroke: $active;
        }
        .btn__catalog-link {
          background: url("../img/catalog.svg"), no-repeat;
          background-size: cover;
          background-position: center;
        }
        .btn__cart-link {
          background: url("../img/cart.svg"), no-repeat;
          background-size: cover;
          background-position: center;
          width: 25px;
          height: 25px;
        }
        .menu-link {
          display: none;
        }
      }
    }
    &__content {
      text-align: center;
      .title {
        font-size: 48px;
        line-height: 59px;
        margin-top: 46px;
      }
      .catalog-link {
        font-size: 14px;
      }
    }
  }
  .for {
    .subtitle {
      font-size: 24px;
    }
    &__content {
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      .for__item {
        grid-column: 1/4;
        height: 375px;
        background-size: cover;
        a {
          font-size: 24px;
        }
      }
      .for__item_bigger {
        height: 243px;
      }
    }
  }
  .specials__subtitle {
    width: 50vw;
  }
  h2.subtitle {
    font-size: 24px;
    line-height: 29px;
    margin-top: 36px;
  }
  .form__box {
    margin: 48px auto 0 auto;
  }

  //catalog
  .top__catalog {
    height: 400px;
    a.logo {
      font-size: 18px;
    }
    .header {
      position: relative;
      padding-top: 50px;
      padding-bottom: 0;
      .top__input {
        position: absolute;
        width: 20vw;
        display: none;
        opacity: 0;
      }
      .menu {
        display: flex;
        align-items: center;
        gap: $gap;
        .mobile__btn {
          display: block;
          width: 19px;
          height: 19px;
        }
        .btn__search {
          border: none;
          outline: none;
          background: transparent;
        }
        .btn__search path {
          transition: 0.15s ease-in;
        }
        .btn__search:active path {
          fill: $active;
          stroke: $active;
        }
        .btn__catalog-link {
          background: url("../img/catalog.svg"), no-repeat;
          background-size: cover;
          background-position: center;
        }
        .btn__cart-link {
          background: url("../img/cart.svg"), no-repeat;
          background-size: cover;
          background-position: center;
          width: 25px;
          height: 25px;
        }
        .menu-link {
          display: none;
        }
      }
    }
    :not(.header, .menu) {
      text-align: center;
    }
    .title {
      font-size: 48px;
      margin-top: 46px;
    }
  }
  .product-box__heading {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }
  //cart
  .top__cart {
    background-position: 70%;
    height: 400px;
    a.logo {
      font-size: 18px;
    }
    .header {
      position: relative;
      padding-top: 50px;
      padding-bottom: 0;
      .top__input {
        position: absolute;
        width: 20vw;
        display: none;
        opacity: 0;
      }
      .menu {
        display: flex;
        align-items: center;
        gap: $gap;
        .mobile__btn {
          display: block;
          width: 19px;
          height: 19px;
        }
        .btn__search {
          border: none;
          outline: none;
          background: transparent;
        }
        .btn__search path {
          transition: 0.15s ease-in;
        }
        .btn__search:active path {
          fill: $active;
          stroke: $active;
        }
        .btn__catalog-link {
          background: url("../img/catalog.svg"), no-repeat;
          background-size: cover;
          background-position: center;
        }
        .btn__cart-link {
          background: url("../img/cart.svg"), no-repeat;
          background-size: cover;
          background-position: center;
          width: 25px;
          height: 25px;
        }
        .menu-link {
          display: none;
        }
      }
    }
    :not(.header, .menu) {
      text-align: center;
    }
    .title {
      font-size: 48px;
      margin-top: 99px;
    }
  }
  .cart {
    &-list {
      width: 90vw;
      img {
        display: none;
      }
      &__item::before {
        width: 90vw;
      }
    }
    .buttons {
      button {
        font-size: 12px !important;
        padding: 0 !important;
      }
    }
    .buy-form {
      width: 90vw;
      .inputs {
        input {
          width: 80vw;
        }
      }
      .submit-purchase {
        width: 80vw;
      }
    }
  }
}
@media (max-width: 340px) {
  .top {
    background-position: 39%;
  }
  .top__content .title {
    font-size: 42px;
  }
  h2.subtitle {
    width: unset;
  }
}

// @keyframes searchUp {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
// @keyframes searchDown {
//   from {
//     opacity: 1;
//   }
//   to {
//     opacity: 0;
//   }
// }
