@charset "UTF-8";
body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}

.content {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.line {
  max-width: 1200px;
  height: 0px;
  border: 0.5px solid rgba(255, 255, 255, 0.8);
}

.top {
  height: 735px;
  background: url("../img/topBack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
}
.top .cart-link {
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.top .catalog-link {
  font-size: 16px;
  line-height: 20px;
  margin-right: 32px;
  color: #FFF;
}
.top .menu .catalog-link:hover, .top .cart-link:hover {
  text-decoration: underline;
}
.top a.logo {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFF;
}
.top .logo:hover {
  text-decoration: none;
}
.top__input {
  border: 1px solid #FFF;
  color: #FFF;
  border-radius: 20px;
  outline: none;
  width: 288px;
  height: 41px;
  background: transparent;
  padding: 0 32px 0 32px;
  box-sizing: border-box;
}
.top__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.top__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.top__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.top .header {
  height: 76px;
  padding: 16px 0 16px 0;
  display: flex;
  justify-content: space-between;
}
.top__content {
  box-sizing: border-box;
}
.top__content .catalog-link {
  text-decoration: underline;
}
.top .title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin: 64px 0 16px 0;
  box-sizing: border-box;
}
.top .slogan {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.top__cart {
  height: 400px;
  background: url("../img/cartBack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
}
.top__cart__input {
  border: 1px solid #FFF;
  color: #FFF;
  border-radius: 20px;
  outline: none;
  width: 288px;
  height: 41px;
  background: transparent;
  padding: 0 32px 0 32px;
  box-sizing: border-box;
}
.top__cart__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.top__cart__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.top__cart__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.top__cart .cart-link {
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.top__cart .catalog-link {
  font-size: 16px;
  line-height: 20px;
  margin-right: 32px;
  color: #FFF;
}
.top__cart a.logo {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFF;
}
.top__cart .logo:hover {
  text-decoration: none;
}
.top__cart a {
  color: #FFF;
}
.top__cart a:hover {
  text-decoration: underline;
}
.top__cart .title {
  margin-top: 144px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
}
.top__cart .header {
  height: 76px;
  padding: 16px 0 16px 0;
  display: flex;
  justify-content: space-between;
}

.cart {
  margin-top: 64px;
  display: flex;
  gap: 33px;
}
.cart-list {
  width: 768px;
}
.cart-list__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.cart-list__heading span {
  font-size: 16px;
  line-height: 20px;
}
.cart-list__items {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.cart-list__item {
  padding-top: 25px;
  position: relative;
  display: flex;
  gap: 32px;
}
.cart-list__item-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cart-list__item-info .subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.cart-list__item-info .subtitle a {
  text-decoration: none;
  color: #000;
}
.cart-list__item-info .subtitle a:hover {
  text-decoration: underline;
}
.cart-list__item-info .product-desc {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
.cart-list__item-info .cart-links__box {
  display: flex;
  gap: 32px;
}
.cart-list__item-info .cart-links__box a {
  line-height: 29px;
  font-size: 14px;
  color: #000000;
  text-decoration: underline;
}
.cart-list__item .product__image {
  width: 178px;
  height: 178px;
}
.cart-list__item .product-quantity {
  background: #F7F6F6;
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
  padding: 15px;
  width: 71px;
  height: 51px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
}
.cart-list__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 768px;
  height: 1px;
  background-color: #CACDD8;
}
.cart-list .buttons {
  display: flex;
  margin-top: 50px;
  gap: 16px;
}
.cart-list .buttons button {
  background: #FFF;
  box-sizing: border-box;
  width: 200px;
  height: 37px;
  border: 1px solid #000000;
  border-radius: 50px;
  outline: none;
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.cart-list .buttons button:hover {
  scale: 1.05;
  background: rgb(17, 19, 10);
  color: rgb(209, 146, 9);
}
.cart .buy-form {
  width: 379px;
  height: 556px;
  box-sizing: border-box;
  background: #F7F6F6;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 42px 28px 42px 28px;
}
.cart .buy-form h3 {
  margin-bottom: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.cart .buy-form .inputs {
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.cart .buy-form .inputs input {
  outline: none;
  background: transparent;
  border: none;
  font-size: 14px;
  line-height: 17px;
  width: 288px;
  padding-left: 5px;
  border-bottom: 1px solid #CACDD8;
}
.cart .buy-form .inputs input::-moz-placeholder {
  color: #000;
}
.cart .buy-form .inputs input:-ms-input-placeholder {
  color: #000;
}
.cart .buy-form .inputs input::placeholder {
  color: #000;
}
.cart .buy-form span {
  margin-top: 64px;
  font-size: 24px;
  line-height: 29px;
}
.cart .buy-form button {
  margin-top: 18px;
  width: 290px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid #040404;
  border-radius: 20px;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0 10px 0;
  transition: 0.2s ease-in;
}
.cart .buy-form button:hover {
  scale: 1.05;
  background: rgb(17, 19, 10);
  color: rgb(209, 146, 9);
}

.specials .product-content {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.specials .product-sample {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 378px;
}
.specials .product__heading {
  margin: 10px 0 9px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.specials .product__image {
  width: 100%;
}
.specials .product-desc {
  font-size: 14px;
  line-height: 17px;
  color: #888;
  margin-bottom: 12px;
}
.specials .price-block {
  display: flex;
  gap: 32px;
}
.specials .current-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #180808;
}
.specials .prev-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration: line-through;
  color: #888;
}

/* Catalog TOP*/
.top__catalog {
  height: 400px;
  background: url("../img/catalogBack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
}
.top__catalog__input {
  border: 1px solid #FFF;
  color: #FFF;
  border-radius: 20px;
  outline: none;
  width: 288px;
  height: 41px;
  background: transparent;
  padding: 0 32px 0 32px;
  box-sizing: border-box;
}
.top__catalog__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.top__catalog__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.top__catalog__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.top__catalog .cart-link {
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.top__catalog .catalog-link {
  font-size: 16px;
  line-height: 20px;
  margin-right: 32px;
  color: #FFF;
}
.top__catalog a.logo {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFF;
}
.top__catalog .logo:hover {
  text-decoration: none;
}
.top__catalog a {
  color: #FFF;
}
.top__catalog a:hover {
  text-decoration: underline;
}
.top__catalog .title {
  margin-top: 144px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
}
.top__catalog .header {
  height: 76px;
  padding: 16px 0 16px 0;
  display: flex;
  justify-content: space-between;
}

/* Каталог товаров */
.product-box__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}
.product-box__heading .breadcrumbs a {
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}
.product-box__heading .breadcrumbs__item:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
}
.product-box__heading .sort {
  width: 288px;
  height: 41px;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  padding: 10px 14px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/selectPolygon.svg") right no-repeat;
  background-position: calc(100% - 22px);
  outline: none;
  transition: background-color 0.3s ease;
}
.product-box__heading .sort:hover {
  background-color: #e9e9e9;
}

/* ГЛАВНАЯ СТРАНИЦА */
/* Мебель для */
.for {
  margin-top: 20px;
  box-sizing: border-box;
}
.for .subtitle {
  margin-top: 44px;
  margin-bottom: 32px;
}
.for__content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}
.for__item {
  height: 415px;
  grid-column: span 4;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.for .heading {
  color: #FFF;
  text-transform: uppercase;
}
.for__item_bigger {
  grid-column: span 6;
}
.for__item_1 {
  background-size: contain;
  background: url("../img/forrelax.jpg") no-repeat;
}
.for__item_2 {
  background-size: contain;
  background: url("../img/forwork.jpg") no-repeat;
}
.for__item_3 {
  background-size: contain;
  background: url("../img/forkitchen.jpg") no-repeat;
}
.for__item_4 {
  background-size: contain;
  background: url("../img/forchildrens.jpg") no-repeat;
}
.for__item_5 {
  background-size: contain;
  background: url("../img/forBath.jpg") no-repeat;
}

/* Блок с предложениям */
.product-box {
  box-sizing: border-box;
  margin-top: 64px;
}
.product-box a.catalog-link {
  text-decoration: underline;
}
.product-box .product-content {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.product-box .product-sample {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 378px;
}
.product-box .product__heading {
  margin: 10px 0 9px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.product-box .product__image {
  width: 100%;
}
.product-box .product-desc {
  font-size: 14px;
  line-height: 17px;
  color: #888;
  margin-bottom: 12px;
}
.product-box .price-block {
  display: flex;
  gap: 32px;
}
.product-box .current-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #180808;
}
.product-box .prev-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration: line-through;
  color: #888;
}

.bottom__catalog-link {
  margin-top: 39px;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: underline;
}

.bottom__catalog_link {
  margin-top: 32px;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: underline;
}

h2.subtitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000;
  margin-top: 72px;
  margin-bottom: 32px;
}

/* Footer */
.footer {
  margin-top: 64px;
  background: #F7F6F6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 40px;
}
.footer .footer__heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}
.footer h4.subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 12px;
}
.footer .menu__links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888;
  text-decoration: none;
}
.footer .contacts__links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer .link:hover {
  text-decoration: underline;
}
.footer .form__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer .form-title {
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
.footer .email-input {
  width: 275px;
  height: 46px;
  padding: 12px 25px 14px 25px;
  background: #FFF;
  border: 1px solid #c4c4c4;
  outline: none;
  box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000;
}
.footer .email-input::-moz-placeholder {
  color: #c4c4c4;
}
.footer .email-input:-ms-input-placeholder {
  color: #c4c4c4;
}
.footer .email-input::placeholder {
  color: #c4c4c4;
}
.footer .submit-btn {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFF;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  transition: 0.1s ease-in;
}
.footer .submit-btn:hover {
  cursor: pointer;
  scale: 1.05;
  background: rgb(17, 19, 10);
  color: rgb(209, 146, 9);
}

@media (max-width: 1024px) {
  .content {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__content {
    gap: 30px;
  }
  .product-box .product-content {
    gap: 30px;
  }
  .footer__heading {
    display: none;
  }
  .cart {
    gap: 74px;
    flex-wrap: wrap;
  }
  .product-content {
    gap: 30px !important;
  }
}/*# sourceMappingURL=style.css.map */